{% extends 'base.html' %}
{% block style %} style="
height: 100vh; 
max-width: unset;
width: 100%;
padding-right: unset;
padding-left: unset;
margin-right: auto;
margin-left: auto;
height: 100vh; 
background-repeat: no-repeat; 
background-attachment: fixed; 
background-image: url(https://github.com/Pedroaaaa/ddddddd/blob/main/Sem%20t%C3%ADtulo.png?raw=true); 
background-size: 100% 100%;" {% endblock %}
{% block title %}Dongaronpa Awards{% endblock %}
{% block content %}


            <a class="btn btn-outline-light btn-lg" href='/login' role="button" style="margin-left: 895px; margin-top: 643px;">Press Start</a>

{% endblock %}