<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Melhor Waifu</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style type="text/css"></style>
    </head>

    <body style="background-color: rgba(64, 53, 93, 1);">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container" style="margin: 0;">
                <a class="navbar-brand" href="/votacao">
                    <img src="/static/12.png" class="img-fluid" style="width: 45px;height: 45px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/votacao">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/votacao/categoria_melhor_waifu">Melhor Waifu</a>
                                <a class="dropdown-item" href="/votacao/categoria_melhor_husband">Melhor Husband</a>
                                <a class="dropdown-item" href="/votacao/categoria_melhor_descoberta_de_corpo">MelhorDescoberta De Corpo</a>
                                <a class="dropdown-item" href="/votacao/categoria_melhor_execucao">Melhor Execução</a>
                                <a class="dropdown-item" href="/votacao/categoria_melhor_trial">Melhor Trial</a>
                                <a class="dropdown-item" href="/votacao/categoria_melhor_plot_twist">Melhor Plot Twist</a>
                                <a class="dropdown-item" href="/votacao/categoria_melhor_pre_investigacao">Melhor PréInvestigação</a>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Action</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr style="border-top: 1px solid rgba(255,255,255,.1);">
        <h2 class="text-center" style="color: white;">Melhor Husband</h2>
        <hr style="border-top: 1px solid rgba(255,255,255,.1);">
        <form method="post">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60, 60, 60);">
                            <img class="card-img-top" src="\static\4014660711e0a9bd72a79e27be53b729.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Byakuya</h5>
                                <p class="card-text" style="color: white;">O progenitor mais pika</p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Byakuya">Votar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60, 60, 60);">
                            <img class="card-img-top" src="\static\9d115ead4a431eca18ef0281e96cc0d2.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body" style="">
                                <h5 class="card-title" style="color: white;">Hifumi</h5>
                                <p class="card-text" style="color: white;">O fanfiquero mais pika</p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Hifumi">Votar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60,60,60);">
                            <img class="card-img-top" src="\static\a90dcaa5e8696362e28801c0606c475b.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Makoto</h5>
                                <p class="card-text" style="color: white;">O sortudo mais pika / A esperança mais pika </p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Makoto">Votar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-4">
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60,60,60);">
                            <img class="card-img-top" src="\static\73fdfb42c7d2adcf9dc28855573c3df0.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Yasuhiro</h5>
                                <p class="card-text" style="color: white;">O clarividente mais pika</p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Yasuhiro">Votar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60,60,60);">
                            <img class="card-img-top" src="\static\ef1f6404f57865d9b8e8bc99b925fdad.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Chihiro</h5>
                                <p class="card-text" style="color: white;">O programador mais pika</p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Chihiro">Votar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60,60,60);">
                            <img class="card-img-top" src="\static\12602.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Kiyotaka</h5>
                                <p class="card-text" style="color: white;">O Comportadinho mais pika</p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Kiyotaka">Votar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-4">
                    <div class="col-md-4 pb-1 pb-md-0">
                    </div>
                    <div class="col-md-4 pb-1 pb-md-0">
                        <div class="card" style="background-color: rgb(60,60,60);">
                            <img class="card-img-top" src="\static\kk.png"alt="Card image cap" style="height: 471px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Mondo</h5>
                                <p class="card-text" style="color: white;">O lider de gang mais pika</p>
                                <button class="btn btn-outline-light" type="submit" name="votacao_husband"value="Mondo">Votar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"crossorigin="anonymous"></script>
        </form>
    </body>
</html>