<html lang="pt-br" style="margin: 0;"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title> Categoria Melhor Husband </title>
  <style type="text/css"></style><style type="text/css"></style></head>
  <body style="margin: 0;"><div style="
    width: 381.500px;
    height: 100vh;
    float: left;
    background-image: url('/static/maxresdefault (3).png');
">
        
    </div>
    
    <div class="container" style="
    float: left;
    padding-left: 50px;
">
        
<h1 style="text-align: center;"> Categoria Melhor Husband </h1>

<form method="post">
    <div class="form-group" style="float: left;">
        <img src="/static/morte_sayaka.png" class="img-fluid" style="width: 250px;height: 352px">
    </div>
    <div class="form-group" style="float: left;">
        <img src="/static/morte_chihiro.png" class="img-fluid" style="width: 250px;height: 352px">
    </div>
    <div class="form-group" style="float: left;">
        <img src="/static/morte_hifumi.png" class="img-fluid" style="width: 250px;height: 352px;">
    </div>
    <div class="form-group" style="/* float: left; */">
        <img src="/static/morte_kiyotaka.png" class="img-fluid" style="width: 250px;height: 352px">
    </div>
    
    <div class="form-group" style="margin-left: 60px;float: left;">
        <!-- <input type="submit" name="votacao_husband" value="Byakuya" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Byakuya">Byakuya</button>
    </div>

    <div style="float: left;margin-left: 200px;">
       <!-- <input type="submit" name="votacao_waifu" value="Aoi" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Hifumi">Hifumi</button>
    </div>

    <div style="float: left;margin-left: 165px;">
       <!-- <input type="submit" name="votacao_waifu" value="Aoi" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Makoto">Makoto</button>
    </div>

    <div style="/* float: left; */margin-left: 840px;">
       <!-- <input type="submit" name="votacao_waifu" value="Aoi" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Yasuhiro">Yasuhiro</button>
    </div>
    
    
    
    
    
    <div class="form-group" style="float: left;">
        <img src="/static/ef1f6404f57865d9b8e8bc99b925fdad.png" class="img-fluid" style="width: 250px;height: 352px">
    </div>
    <div class="form-group" style="float: left;">
        <img src="/static/fc91f5ea9af797746adafb54a3c3a011.png" class="img-fluid" style="width: 250px;height: 352px;">
    </div>
    <div class="form-group" style="/* float: left; */">
        <img src="/static/20e6e4e3d27b0983cabe91ef6080c555.png" class="img-fluid" style="width: 250px;height: 352px;">
    </div>
    


    <div style="float: left;margin-left: 255px;">
       <!-- <input type="submit" name="votacao_waifu" value="Aoi" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Chihiro">Chihiro</button>
    </div>

    <div style="float: left;margin-left: 155px;">
       <!-- <input type="submit" name="votacao_waifu" value="Aoi" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Kyotaka">Kyotaka</button>
    </div>

    <div style="/* float: left; */margin-left: 730px;">
       <!-- <input type="submit" name="votacao_waifu" value="Aoi" class="btn btn-outline-danger"> -->
        <button class="btn btn-outline-danger" type="submit" name="votacao_husband" value="Mondo">Mondo</button>
    </div>
</form>

    </div><div style="
    width: 381.500px;
    height: 100vh;
    float: left;
    background-image: url('/static/as.png');
">
        
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body></html>